@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Store.Domain.Product
@{
    ViewData["Title"] = "Home Page";
}



<h2>
    Добавить продукт
</h2>



<form asp-controller="Home" asp-action="AddExcel" method="post">
    <div>
        <label class="form-label" asp-for="ProviderName" for="name">Імʼя</label>
        <input class="form-input" type="text" asp-for="ProviderName" placeholder="Введіть імʼя постачальника" required>
    </div>

    <div>
        <label class="form-label" asp-for="Description" for="name">Опис</label>
        <input class="form-input" type="text" asp-for="Description" placeholder="Введіть опис" required>
    </div>

    <div>
        <label class="form-label" asp-for="Manager" for="name">Імʼя менеджера</label>
        <input class="form-input" type="text" asp-for="Manager" placeholder="Введіть імʼя менеджера" required>
    </div>

    <div>
        <label class="form-label" asp-for="Quantity" for="name">Кількість</label>
        <input class="form-input" type="text" asp-for="Quantity" placeholder="Введіть кількість" required>
    </div>

    <div>
        <label class="form-label" asp-for="Amount" for="name">Вартість</label>
        <input class="form-input" type="text" asp-for="Amount" placeholder="Введіть вартість" required>
    </div>

    <div>
        <label class="form-label" asp-for="City" for="name">Місто</label>
        <input class="form-input" type="text" asp-for="City" placeholder="Введіть місто" required>
    </div>

    <button id="submit" class="form-submit-button" type="submit">Додати</button>


</form>


